name: Hello from self-hosted runner

on:
  push:
    branches:
      - main
      - master

jobs:
  hello:
    runs-on: [ self-hosted, shr ]
    steps:
      - name: Print hello
        run: echo "Hello from my Mac self-hosted runner!"

